﻿@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Whatsub.Models;
@model Whatsub.Models.ApplicationUser

@{
    ViewBag.Title = "UserProfile";
}

<h2>Profile</h2>

    @{
        if (Request.IsAuthenticated)
        {
            <div class="form-horizontal" role="form">
                <div class="container AccountPageForm">
                    <label class="col-sm-2 control-label">User Name</label>
                    <div class="col-sm-10">
                        <div class="form-control-static">@User.Identity.GetUserName()</div>
                    </div>
                </div>
                </div>
            <div class="form-horizontal" role="form">
                <div class="container AccountPageForm">
                    <label class="col-sm-2 control-label">Email Address</label>
                    <div class="col-sm-10">
                        <div class="form-control-static">@Model.EmailAddress</div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal" role="form">
                <div class="container AccountPageForm">
                    <label class="col-sm-2 control-label">User Rank</label>
                    <div class="col-sm-10">
                        <div class="form-control-static">Sub-Freak</div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal" role="form">
                <div class="container AccountPageForm">
                    <label class="col-sm-2 control-label">Subtitles translated</label>
                    <div class="col-sm-10">
                        <div class="form-control-static">over 9000</div><br />
                    </div>
                </div>
            </div>
        }
    }
<div class="container AccountPageForm">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Manage Account", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-primary" })
        </div>
    </div>
</div>

