﻿
@{
    ViewBag.Title = "Help";
}

<h2>FAQ</h2>

<h3>About .srt files</h3>
<p>
    Known as a SubRip subtitle file, it is a widely used and broadly compatible text file format. It is used to display subtitles
    in a video file by marking the time signatures of each segment and displaying them at the given time.
    In an .srt file, subtitles are numbered sequentally, starting at 1. The timecode format used is this:
    <b>hours:minutes:seconds, milliseconds.</b>
    A typical segment in an .srt file looks like this:
</p>
        <code id="srtexample">
            1. <br />
            00:00:03,500 --> 00:00:06,000 <br />
            Hello world! This is an example <br />
            of a SubRip subtitle file. <br />
        </code>
<br />
<p>
    Subrip files also offer a variety of ways to position and style texts with the use of coordinates and html style tags.
    The .srt file format is supported by most popular video players.
    Subrip files can be used on a personal compute by simply opening them with the video file, for example by the use of
    drag and drop. They can also be used in various other places such as Netflix and you should be able to find instructions
    on how to incorporate them quite easily.
    
</p>
<h3>Subtitle</h3>
<p>
    To find a specific subtitle just use our awesome search engine to find it. If for some reason our awesom search engin doesnt 
    find it, you can use our request page to request one.
</p>
<h3>Requests</h3>
<p>
    To issue a request for a translation, you can click the request link in the navigation bar at the top of the page.
    There you can search if a similar requests exists and if it doesnt just click the new requst link.
</p>
<p>
    Click @Html.ActionLink("here", "Index", "Request", null, null) to get to the request page.
</p>
<h3>Download a .srt file</h3>
<p>
    Start by searching for the content you want. 
    In each Subtitle page there is a download subtitle link which save the subtitle to your computer.
</p>
<h3>Upload a subtitle</h3>
<p>
    To upload a subtitle you can simply go to the subtitle page through the navigation bar and then 
    click the link "Add new subtitle".
</p>
<p>
    Click @Html.ActionLink("here", "Index", "Request", null, null) to get to the add new subtitle page.
</p>
<h3>How to translate subtitles</h3>
<p>
    Choose the film or TV show you want to translate. Select the language you want to translate into and click "Edit Subtitle". 
    Choose lines to translate from the table and translate in the translate form beneath the table. Just remember to click "Save line".
</p>
<h3>How to translate subtitles with Google Translate</h3>
    <ol>
        <li>Download the srt file of the English subtitles on the subtitle page.</li>
        <li>Save it on your computer ("Ctrl + s" will make sure the file is saved as srt. You can also write .srt after the file name in the "save as" window).</li>
        <li>Upload the srt file to <a href="http://translate.google.com/toolkit/list?hl=no#translations/active">Google Translations Tool</a> and choose what language you want the subtitles to be translated into.</li>
        <li>When you click the "Next" button you will be offered to select a translate vendor. Just click "No, thanks" if you don't want to spend your money.</li>
        <li>Choose the subtitle from the list that appears.</li>
        <li>Click "Complete" and then "OK" when it warns you that the document is only 0% complete.</li>
        <li>Click "File" and "Download".</li>
    </ol>
<p>
    Each subtitle should take under a minute to translate and upload using this method.
    The translation is not perfect but you can of course correct the Google mistakes. The task of correcting is a lot less daunting as oppose to write all down your self.
</p>
    
    
