﻿@model Whatsub.Models.IndexViewModel
@{
    ViewBag.Title = "Whatsub";
}

<!-- search hér -->
<div class="container" id="FrontPageContainer">
    <div class="row">
        <h1>WhatSub</h1>
    </div>
    <div class="row">
        <div class="col-md-12" id="indexsearch">
            <div class="SearchWrapper">
                @using (Html.BeginForm("Search", "Subtitle", FormMethod.Get, new { id = "indexsearchbar" }))
                {
                    @Html.TextBox("SearchQuery", null, new { id = "SearchInput", @class = "WantSubtitleSuggestions" })
                    <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                }
            </div>
        </div>
    </div>
    <!-- Test commit and push -->

    <div class="row" id="topandnew">
        <div class="col-md-6 col-sm-6" id="topsubtitles">
            <h2>Top Subtitles</h2>
            @if (Model.TopSubtitles != null)
            {
                <ul>
                    @foreach (var item in Model.TopSubtitles)
                    {
                        <li>
                            <a href="@Url.Action("View", "Subtitle", new { id = item.ID })">
                                @item.Title (@item.Year)
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
        <div class="col-md-6" id="newsubtitles">
            <h2>Newest Subtitles</h2>
            @if (Model.NewSubtitles != null)
            {
                <ul>
                    @foreach (var item in Model.NewSubtitles)
                    {
                        <li>
                            <a href="@Url.Action("View", "Subtitle", new { id = item.ID })">
                                @item.Title (@item.Year)
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>
