﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewBag.Title - WhatSub</title>
        @Styles.Render("~/Content/css")
    <link href="~/Content/flags32.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WhatSub", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Requests", "Index", "Request")</li>
                    <li>@Html.ActionLink("Subtitles", "Index", "Subtitle")</li>
                    <li>@Html.ActionLink("FAQ", "Help", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - WhatSub</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.autocomplete.js"></script>
    <script src="~/Scripts/jquery.loadTemplate-1.4.3.min.js"></script>
    <script src="~/Scripts/AjaxSuggestions.js"></script>
    <script src="~/Scripts/upvote.js"></script>
    <script src="~/Scripts/Edit.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/CommentScript.js"></script>
    <script src="~/Scripts/AddNewSubtitleProcessing.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
