﻿@model Whatsub.Models.RequestViewModel
@{
    ViewBag.Title = "NewRequest";
}

<h2>Add new request</h2>

<span id="ErrorInputMessage"><span class="glyphicon glyphicon-remove form-control-feedback"></span>Input Error!</span>
@using (Html.BeginForm("Add", "Request", FormMethod.Post, new {  
        role = "form", 
        id = "AddNewSubtitleForm",
        name = "AddNewSubtitleForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        <fieldset>
            <div class="row form-group">
                @Html.LabelFor(m => m.Title, new { @class = "col-md-2 AddSubLeftCol control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                </div>
            </div>
            <div class="row form-group">
                @Html.LabelFor(m => m.TypeID, "Select Type", new { @class = "col-md-2 AddSubLeftCol control-label" })
                <div class="col-md-4">
                    @Html.DropDownList("TypeID", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="row form-group">
                @Html.LabelFor(m => m.Year, "Year", new { @class = "col-md-2 AddSubLeftCol control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Year, null, new { @class = "form-control" })
                </div>
            </div>
            <div class="row form-group">
                @Html.LabelFor(m => m.LanguageID, "Subtitle Language", new { @class = "col-md-2 AddSubLeftCol control-label" })
                <div class="col-md-4">
                    @Html.DropDownList("LanguageID", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <input type="submit" value="Submit request" class="btn btn-primary" id="SubmitAddRequest">
                </div>
            </div>
        </fieldset>

}
<div id="UploadProcessingBox">
    <p>Processing request, Please wait...</p>
    <img src="@Url.Content("~/Content/Images/ajax-loader.gif")" alt="..." />
</div>