﻿@model Whatsub.Models.PageModel<Whatsub.Models.RequestViewModel>
<script type="text/javascript" src="scripts/upvote.js"></script>


@{
    ViewBag.Title = "Requests";
}

<h2>Requests</h2>

<section class="main">
    <div class="container ReqPageList">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Search", "Request", FormMethod.Get))
                {
                    @Html.ValidationSummary()
                    <div class="SearchWrapper">
                        @Html.TextBox("SearchQuery", null, new { @class = "WantRequestSuggestions" })
                        <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        @Html.ActionLink("New Request", "Add", "Request", null, new { @class = "SubPageActionLinks" })
                    </div>
                }

            </div>
        </div>
        @if(Model.Profiles.Count() != 0)
        { 
            foreach (var Profile in Model.Profiles)
            {
                <div class="row ListPageRow">
                    <div class="col-xs-10 col-md-12">
                        <div class="col-md-1 col-xs-1 upvoteWrap">
                            <i class="glyphicon glyphicon-chevron-up upvoteArrow" data-id="@Profile.ID"></i>
                            <p class="upvote-count" data-id="">@Profile.Upvotes</p>
                        </div>
                        <div class="col-md-11 col-xs-9 BiggerFont">
                            <a href="@Url.Action("Add", "Subtitle", new Whatsub.Models.AddSubtitleViewModel { Title = Profile.Title, Year = Profile.Year, TypeID = Profile.TypeID, LanguageID = Profile.LanguageID })">
                                @{
                                    if (@Profile.PosterPath != null)
                                    {
                                        <img src="@Url.Content("http://image.tmdb.org/t/p/w92" + Profile.PosterPath)" alt="@Profile.Title (@Profile.Year)" height="100" />
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/Content/Images/NoPosterSmall.jpg")" alt="@Profile.Title (@Profile.Year)" height="100" />
                                    }
                                }
                                <span> @Profile.Title (@Profile.Year) </span>
                                <span class="f32"> <img src="@Url.Content("~/Content/Images/blank.png")" alt="@Profile.LanguageName" class="flag @Profile.LanguageClass"  /> (@Profile.LanguageName) </span>
                            </a>
                                @if (Request.IsAuthenticated)
                                {
                                    <span class="TranslateLink">
                                        <a href="@Url.Action("Add", "Subtitle", new Whatsub.Models.AddSubtitleViewModel { Title = Profile.Title, Year = Profile.Year, TypeID = Profile.TypeID, LanguageID = Profile.LanguageID })"> Translate</a>
                                    </span>
                                }
                        </div>
                    </div> 
                </div>
            }
        }
        else
        {
            <span>Not finding the request you are looking for? Click New Request to create it.</span>
        }
    </div>
    <span class="CurrPage">
        @if (Model.CurrentPage - 1 > 0)
        {
            @Html.ActionLink("Prev", "Index", new { Page = (Model.CurrentPage - 1) })
        }
        @for (int i = 1; i <= Model.Pages; ++i)
        {
            if (!(Model.CurrentPage == i))
            {
                @Html.ActionLink(i.ToString(), "Index", new { Page = i }, new { @class = "Pages" });
            }
            else
            {
                @Html.AttributeEncode(i);
            }
        }
        @if (Model.CurrentPage + 1 <= Model.Pages)
        {
            @Html.ActionLink("Next", "Index", new { Page = (Model.CurrentPage + 1) })
        }
    </span>

</section>
