﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #F7F7F7;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*---------------Index----------------*/
#FrontPageContainer {
    max-width: 700px;
}

#indexsearch{
    margin-top: 30px;
    width: 100%;
    float:left;
    border-color: red;
    border-width: 10px;
}

#SearchInput {
    max-width: none;
    width: 100%;
}

#srtexample
{
    color: black;
    background: #E6E5E5;
}
.container h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 56px;
}

#SearchQuery{
    max-width: 600px;
    width: 435px;
    height: 30px;
}

#topandnew {
    height: 340px; /* So footer is rendered under, not inside */
    margin: 0 auto;
    margin-top: 30px;
    width: 600px;
}


#topsubtitles h2{
    font-size: 26px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eeeeee;
}

#newsubtitles h2{
    font-size: 26px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eeeeee;
}

#topsubtitles ul {
    padding-left: 0px;
}

#newsubtitles ul {
    padding-left: 0px;
}

#topsubtitles ul li{
    list-style-type: none;
    font-size: 16px
}

#newsubtitles ul li{
    list-style-type: none;
    font-size: 16px
}

.SubPageActionLinks
{
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 22px;
}

#SubPageCommentBox
{
    width: 300px;
    height: 80px;
}

#SubPageCommentButton
{
    margin-top: 5px;
}
.row iframe
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.SubPageForm 
{
    margin-top: 30px;
    width: 1200px;
    margin-left: 280px;
}

.SubPageForm .row
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.ReqPageList .row .BiggerFont
{
    font-size: 14pt;
}

#AddSubLeftCol
{
    width: 60px;
}

#UploadSrtFile
{
    font-size: 22px;
    padding-bottom: 20px;
}

.ListPageRow:nth-child(2) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ListPageRow:nth-child(2) .SubPagePoster {
    border-top-left-radius: 10px;
}

.ListPageRow:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ListPageRow:last-child .SubPagePoster {
    border-bottom-left-radius: 10px;
}

.ListPageRow:nth-child(even) {
    background: #e6e6e6;
}

.ListPageRow {
    min-height: 50px;
    background: #f1f1f1;
    overflow: hidden;
}

.SubPageColumn {
    padding-left:0px;
    font-size: 14pt;
}
.LinkToRequests {
    margin: 20px 0px;
    font-size: 16px;
}
.TranslateLink
{
    float: right;
    position: relative;
    top: 40px;
}
.upvoteWrap {
    width: 50px;
    height: 70px;
    padding-left: 18px;
}
.upvoteArrow {
    font-size: 2.5em;
    top: 20px;
    left:-10px;
    color: rgba(0, 85, 2, 0.40);
    cursor:pointer;
}
.upvoteArrow:active {
    color: #f58307;
}
.upvote-count {
    margin-top: 10px;
    margin-left: -4px;
    font: normal verdana,arial,helvetica,sans-serif;
    font-weight: bold;
    cursor:default;
    text-align: center;
}
.upvoted {
    color: #f58307; /* color switches when upvoted */
    font-size: 2.5em;
    top: 20px;
    left:-10px;
}
.SearchWrapper input[type=text] {
    border: 2px solid #0b7ba1;
    height: 28px;
    float: left;
    background: white;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 30px;
    margin-right: 0px;
}

.SearchWrapper button {
    background: transparent;
    border: 0;
    height: 28px;
    width: 28px;
    color: #333333;
    margin-left: -30px;
    padding-right: 10px;
    font-weight: bold;
}
.SearchWrapper button:hover {
    color: #666666;
}

/*Edit subtitle page*/
#EditPageTable
{
    margin-top: 20px;
    margin-bottom: 20px;
}

#EditPageTable table
{
    border: 1px solid;
    border-color: black;
    overflow: hidden;
    border-radius: 10px;
}

#EditPageTable thead
{
    background: #e6e6e6;
    border-bottom: 1px;
    border-bottom-color: darkgray;
}

#EditPageTable tbody:nth-child(2n+1)
{
    background: #e6e6e6;
}

#EditPageTable .SubtitleLine:hover
{
    background: darkgray;
}

#EditForm .row
{
    margin-top: 10px;
    margin-bottom: 10px;
}

#EditPagePrev
{
    float: left;
}

#EditPageNext
{
    float: right;
}

#EditPageNbr
{
    margin-left: 200px;
    font-weight: bold;
}

.LineInput input
{
    max-width: 340px;
    width: 340px;
}

#AddSubtitleProcessing
{

    display: block;
    margin: 0 auto;
    width: 221px;
}

#AddSubtitleProcessing p
{
    text-align: center;
}

#EditForm .row .col-md-12 .form-group 
{
    display: inline;
}

#EditForm .row .col-md-12 .form-group #TimeStart, 
#EditForm .row .col-md-12 .form-group #TimeEnd, 
#EditForm .row .col-md-12 .form-group #Line1, 
#EditForm .row .col-md-12 .form-group #Line2
{
    display: inline;
}
#EditForm .row .col-md-12 .form-group #TimeStart, 
#EditForm .row .col-md-12 .form-group #TimeEnd
{
    width: 157px;
}

#EditForm .row .col-md-12 .has-error #TimeStart, 
#EditForm .row .col-md-12 .has-error #TimeEnd, 
#EditForm .row .col-md-12 .has-error #Line1, 
#EditForm .row .col-md-12 .has-error #Line2
{
    background-color: #FFF5F5;
}

#CompleteChanged
{
    display: none;
    color: green;
}

#ErrorInputMessage
{
    display: none;
    color: #b94a48;
}

/*Account pages*/

.AccountPageForm
{
    margin-top: 30px;
    width: 1200px;
    margin-left: 280px;
}

.TableClass
{ 
    border-collapse: collapse; 
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
}
.autocomplete-suggestions {
    background-color: rgba(213, 213, 213, 0.95);
    box-shadow: 2px 2px 4px 2px #ccc;
    border-radius: 10px;
    z-index:0;
    overflow:scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}
.autocomplete-suggestions .autocomplete-selected {
    background-color: rgb(159, 159, 159);
    cursor:pointer;
    border-radius: 10px;
}

.autocomplete-suggestion {
    padding: 0 10px;
}

#UploadProcessingBox {
    display: none;
    background: white;
    width: 300px;
    height: 100px;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(38, 38, 38, 0.5);
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -150px;
}

#UploadProcessingBox p {
    text-align: center;
}

#UploadProcessingBox img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.SubPic {
    max-width:250px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
}

.PageNumber {
    margin: 0 1px;
}

span.PageNumber {
    margin: 0;
    font-weight: bold;
}

.AddEditLinks {
    font-size: 12pt;
    font-weight: bold;
}

.AddEditLinks .EditSubLink {
    float: left;
}

.AddEditLinks .AddSubLink {
    float: right;
}

.VideoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.VideoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.PageHeader h2 {
    display: inline-block;
}

.PageHeader a {
    display: inline-block;
    margin-left: 5px;
}

.PageHeader a:hover {
    text-decoration: none;
}

.PageHeader .glyphicon {
    font-size: 16pt;
    display: inline-block;
}

.PageHeader .Text {
    font-size: 14pt;
    font-weight: bold;
}
.Pages {
    margin-left:5px;
    margin-right:5px;
    font-size: 11pt;
    font-weight:bold;
}
.CurrPage {
    font-size:12pt;
    color:#1e2878;
    font-weight:bold;
}

/*---------Add Subtitle/Request---------*/
#UploadFile
{
    width: 272px;
    height: 45px;
}

#AddNewSubtitleForm
{
    margin-top: 20px;
}
#SubmitAddRequest
{
    width: 100%;
}
#process
{
    width: 100%;
}

.has-error #Title, 
.has-error #TypeID, 
.has-error #Year, 
.has-error #LanguageID,
.has-error #VideoUrl
{
    background-color: #FFF5F5;
}