﻿@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Whatsub.Models;
@model Whatsub.Models.AddSubtitleViewModel
@{
    ViewBag.Title = "Add";
}

<h2>Add subtitle page</h2>
<span id="ErrorInputMessage"><span class="glyphicon glyphicon-remove form-control-feedback"></span>Input Error!</span>
    @using (Html.BeginForm("Create", "Subtitle", FormMethod.Post, new
    {
        enctype = "multipart/form-data",
        id = "AddNewSubtitleForm",
        name = "AddNewSubtitleForm"
    }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true);

            <fieldset>
                <div class="row form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "col-md-2 AddSubLeftCol control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row form-group">
                    @Html.LabelFor(m => m.TypeID, "Select Type", new { @class = "col-md-2 AddSubLeftCol control-label" })
                    <div class="col-md-4">
                        @Html.DropDownList("TypeID", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row form-group">
                    @Html.LabelFor(m => m.Year, "Year", new { @class = "col-md-2 AddSubLeftCol control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Year, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row form-group">
                    @Html.LabelFor(m => m.LanguageID, "Subtitle Language", new { @class = "col-md-2 AddSubLeftCol control-label" })
                    <div class="col-md-4">
                        @Html.DropDownList("LanguageID", null, new { @class = "form-control" })
                    </div>
                </div>
            </fieldset>
            <h3 id="UploadSrtFile">Upload .srt file and/or link to video trailer (Optional)</h3>
            <div class="row">
                <div class="col-md-4" id="UploadFile">
                    <input id="SrtUpload" name="SrtUpload" type="file"/>
                    @Html.ValidationMessageFor(m => m.SrtUpload)
                </div>
            </div>
            <div class="row form-group">
                @Html.LabelFor(m => m.VideoUrl, "Link to trailer", new { @class = "col-md-2 AddSubLeftCol control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.VideoUrl, new { @class = "form-control" })
                </div>
            </div>
        
            
            <div class="row" id="SubmitContent">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <input type="submit" name="operation" id="process" value="Create" class="btn btn-primary col-md-2">
                </div>
                
            </div>
 
    }

<div id="UploadProcessingBox">
    <p>Uploading, Please wait...</p>
    <img src="@Url.Content("~/Content/Images/ajax-loader.gif")" alt="..."/>
</div>