﻿
@{
    ViewBag.Title = "AddSubtitleError";
}

<h2>Oops there seems to be a problem with the subtitle you're trying to add please try again....</h2>

<p>The problem might be one of the following:</p>
<ul>
    <li>You are not logged in</li>
    <li>The form was not correctly filled out</li>
    <li>The content of the .srt file is not compliant to the standard</li>
</ul>