﻿@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Whatsub.Models;
@model Whatsub.Models.EditSubtitlePageViewModel

<div class="row" id="EditPageTable">
    <div class="col-md-6" id="EditTableCol">
        <table style="width:100%;" id="EditTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Text</th>
                </tr>
            </thead>
            @for (int i = 0; i < Model.Lines.Count(); ++i)
            {
                <tbody class="SubtitleLine" id="@Model.Lines[i].ID">
                    <tr>
                        <td rowspan="2" class="LineNr">
                            @( (Model.PageNumber - 1) * 10 + i + 1)
                            <input type="hidden" class="LineID" value="@Model.Lines[i].ID" />
                        </td>
                        <td rowspan="2" class="TimeStart">@Model.Lines[i].TimeStart.ToString()</td>
                        <td rowspan="2" class="TimeEnd">@Model.Lines[i].TimeEnd.ToString()</td>
                        <td class="Line1">@Model.Lines[i].Line1</td>
                    </tr>
                    <tr>
                        <td class="Line2">@Model.Lines[i].Line2</td>
                    </tr>
                </tbody>
            }
        </table>
        
    </div>  
</div>




