﻿@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Whatsub.Models;
@model Whatsub.Models.EditSubtitlePageViewModel
@{
    ViewBag.Title = "Edit " + Model.Title;
}

<div class="container">
    <div class="row">
        <div class="col-md-12 PageHeader">
            <h2>@Model.Title (@Model.Year)</h2>
            <a href="@Url.Action("View", "Subtitle", new { id = Model.SubtitleID })">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="Text">Back to profile</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            @Html.DropDownList("CompleteStatus", null, new { id = "CompleteStatus"})
            <span id="CompleteChanged"><span class="glyphicon glyphicon-ok form-control-feedback"></span>Status has been changed</span>
        </div>
        <div class="col-md-8">
            Language: @Model.SubtitleLanguage
        </div>
    
    </div>
    @Html.Partial("EditTablePartial")
    <div class="row">
        <div class="col-md-6">
            @if (Model.PageNumber - 1 > 0)
            {
                @Html.ActionLink("Prev", "Edit", new { PageNumber = (Model.PageNumber - 1) }, new { id = "EditPagePrev" })
            }
            <span id="EditPageNbr">Page Number: @Model.PageNumber</span>
            @if (Model.PageNumber + 1 <= Model.Pages)
            {
                @Html.ActionLink("Next", "Edit", new { PageNumber = (Model.PageNumber + 1) }, new { id = "EditPageNext" })
            }
        </div>
    </div>  
    <div class="row">
        <span id="ErrorInputMessage"><span class="glyphicon glyphicon-remove form-control-feedback"></span>Input Error!</span>
        @using (Html.BeginForm("SaveLine", "Ajax", FormMethod.Get, new { id = "EditForm" }))
        {
            <div class="row">
                <div class="col-md-12">
                    @Html.Hidden("PageNumber", Model.PageNumber)
                    @Html.Hidden("LineID")
                    @Html.Hidden("SubtitleID", Model.SubtitleID)
                    @Html.Hidden("LineNr")
                    <div class="form-group">
                        @Html.TextBox("TimeStart", null, new { @class="form-control"})
                    </div>
                    
                    <span>--></span>
                    <div class="form-group">
                        @Html.TextBox("TimeEnd", null, new { @class = "form-control" }) Time segment
                    </div>
                </div>
            </div>
            <div class="row LineInput">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.TextBox("Line1", null, new { @class = "form-control" }) Line 1
                    </div>
                </div>
            </div>
            <div class="row LineInput">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.TextBox("Line2", null, new { @class = "form-control" }) Line 2
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary" id="btnSave">Update line</a>
                    <a class="btn btn-primary" id="btnAdd">Add New line</a>
                    <a class="btn btn-primary" id="btnDelete">Delete line</a>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-4" id="SubPageRightCol">
            <div class="row">
                @{
                    if (Request.IsAuthenticated)
                    {
                        var CurrentUser = User.Identity.GetUserName();
                        <h3>
                            @CurrentUser
                        </h3>
                    }
                }

            </div>
            @{
                if (Request.IsAuthenticated)
                {
                    <div class="row">
                        @using (Html.BeginForm("AddComment", "Subtitle", FormMethod.Post, new { id = "CommentForm" }))
                        {
                            <fieldset>
                                <div class="form-horizontal">
                                    <label class="sr-only" for="CommentText">Comment</label>
                                    <textarea class="form-control" rows="3" id="CommentText" style="max-width: 600px;" name="CommentText" placeholder="Share your thoughts"></textarea>
                                    <button type="submit" class="btn btn-primary" id="SubPageCommentButton">Send</button>
                                </div>
                            </fieldset>
                        }
                    </div>
                }
            }
            <div class="row">
                <h3>Newest Comments</h3>
            </div>
            <div class="row">
                <ul class="list-group" style="max-width: 600px;" data-id="@Model.ID">
                    <div id="CommentIn">
                        <div id="CommentList">
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        </div>
</div>

<script type="text/html" id="CommentTemplate">

    <li class="list-group-item">
        <p>
            <span class="glyphicon glyphicon-user"></span>
            <span class="text-primary" data-content="Username"></span><!-- Username-->
            <span class="text-muted" data-content="CommentDate"></span><!-- Date-->
        </p>
        <p>
            <span data-content="CommentText"></span> <!-- Comment text-->
        </p>
    </li>
</script>