﻿@model Whatsub.Models.PageModel<Whatsub.Models.SubtitleSearchViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Subtitles</h2>

<section class="main">
    <div class="container SubPageList">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Search", "Subtitle", FormMethod.Get))
                {
                    @Html.ValidationSummary()
                    <div class="SearchWrapper">
                        @Html.TextBox("SearchQuery", null, new { @class = "WantSubtitleSuggestions" })
                        <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        @Html.ActionLink("Search requests", "Index", "Request", null, new { @class = "SubPageActionLinks" })
                        @if(Request.IsAuthenticated)
                        {  
                            @Html.ActionLink("Add new subtitle", "Add", "Subtitle", null, new { @class = "SubPageActionLinks" })
                        }
                    </div>
                }
            </div>
        </div>
        @foreach (var Profile in Model.Profiles)
        {
            <div class="row ListPageRow">
                <div class="col-md-12 SubPageColumn BiggerFont">
                    <a href="@Url.Action("View","Subtitle", new {id = Profile.ID})">
                        @{
                            if (@Profile.PosterPath != null)
                            {
                                <img src="@Url.Content("http://image.tmdb.org/t/p/w92" + Profile.PosterPath)" alt="@Profile.Title (@Profile.Year)" class="SubPagePoster" height="100" />
                            }
                            else
                            {
                                <img src="@Url.Content("~/Content/Images/NoPosterSmall.jpg")" alt="@Profile.Title (@Profile.Year)" class="SubPagePoster" height="100" />
                            }
                        }
                        <span> @Profile.Title (@Profile.Year)</span>
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="LinkToRequests" id="LinkToRequests">
        @if (Model.Profiles.Count() == 0)
        {
            <p>
                Not finding the subtitle you are looking for? Click @Html.ActionLink("here", "Index", "Request") here to see if there is a request for this subtitle
            </p>
        }
    </div>
    <span class="CurrPage">
        @if (Model.CurrentPage - 1 > 0)
        {
            @Html.ActionLink("Prev", "Index", new { Page = (Model.CurrentPage - 1) })
        }
        @for (int i = 1; i <= Model.Pages; ++i)
        {
            if (!(Model.CurrentPage == i))
            {
                @Html.ActionLink(i.ToString(), "Index", new { Page = i }, new { @class = "Pages" });
            }
            else
            {
                @Html.AttributeEncode(i)
            }
        }
        @if (Model.CurrentPage + 1 <= Model.Pages)
        {
            @Html.ActionLink("Next", "Index", new { Page = (Model.CurrentPage + 1) })
        }
    </span>
</section>
