﻿@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Whatsub.Models;
@model Whatsub.Models.SubtitleProfilePageViewModel
@{
    ViewBag.Title = Model.Title + " (" + Model.Year + ")";
}

<div class="container">

    <div class="row"> <!-- Header -->
        <div class="col-md-12 PageHeader">
            <h2>
                @Model.Title (@Model.Year)
            </h2>
            <a href="@Url.Action("Download", "Subtitle", new { id = Model.ID })">
                <span class="glyphicon glyphicon-download-alt"></span>
                <span class="Text">Download</span>
            </a>
        </div>
    </div>

    

    <div class="row">
        <div class="col-md-8"> 

            <div class="row">
                <!-- Language -->
                <div class="col-md-4 col-sm-4 col-xs-4">
                    @using (Html.BeginForm("View", "Subtitle", FormMethod.Get, new { id = "LanguageSelect" }))
                    {
                        <span>Language:</span> @Html.DropDownList("Languages", null, new { onchange = "location = this.value;" })
                    }
                    <!-- Status -->
                    @if (Model.Complete)
                    {
                        <b style="color:green;" class="SubStatus"> Complete :)</b>
                    }
                    else
                    {
                        <b style="color: darkred;" class="SubStatus"> Not Complete :( </b>
                    }
                </div>

                <div class="col-md-8 col-sm-8 col-xs-8">
                    @if (Request.IsAuthenticated)
                    {
                        <div class="AddEditLinks">
                            <a href="@Url.Action("Edit", "Subtitle", new {id = @Model.ID})" class="EditSubLink">
                                Edit Subtitle
                            </a>

                            <a href="@Url.Action("Add", "Subtitle", new Whatsub.Models.AddSubtitleViewModel { Title = @Model.Title, Year = @Model.Year, TypeID = @Model.TypeID})" class="AddSubLink">
                                Add New Subtitle
                            </a>
                        </div>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4"> <!-- Poster -->
                    @{
                        if (@Model.PosterPath != null)
                        {
                            <img class="SubPic" src="@Url.Content("http://image.tmdb.org/t/p/w342" + Model.PosterPath)" alt="Poster not found" />
                        }
                        else
                        {
                            <img class="SubPic" src="@Url.Content("~/Content/Images/NoPosterLarge.jpg")" alt="Poster not found" />
                        }
                    }
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8"> <!-- Description -->
                    <p>@Model.Overview</p>
                    
                    @if (Model.YoutubeUrl != null)
                    { 
                        <div class="VideoWrapper">
                            <iframe width="400" height="300" src="//www.youtube.com/embed/@Model.YoutubeUrl" frameborder="0" allowfullscreen></iframe>
                        </div>
                    }
                    
                </div>
            </div>
        </div>

        <div class="col-md-4"><!-- Comments -->
            <div class="col-md-12">
                @{ <!-- User Id if logged in -->
                    if (Request.IsAuthenticated)
                    {
                        var CurrentUser = User.Identity.GetUserName();
                        <h3>
                            @CurrentUser
                        </h3>

                        using (Html.BeginForm("AddComment", "Subtitle", FormMethod.Post, new { id = "CommentForm" }))
                        {
                            <fieldset>
                                <div class="form-horizontal">
                                    <label class="sr-only" for="CommentText">Comment</label>
                                    <textarea class="form-control" rows="3" id="CommentText" name="CommentText" placeholder="Share your thoughts"></textarea>
                                    <button type="submit" class="btn btn-primary" id="SubPageCommentButton">Send</button>
                                </div>
                            </fieldset>
                        }
                    }
                }

                <h3>Newest Comments</h3>
            
                <ul class="list-group" style="max-width: 300px;" data-id="@Model.ID">
                    <div id="CommentIn">
                        <div id="CommentList">
                        </div>
                    </div>
                </ul>

            </div>
        </div>
    </div>

</div>

<script type="text/html" id="CommentTemplate">

    <li class="list-group-item">
        <p>
            <span class="glyphicon glyphicon-user"></span>
            <span class="text-primary" data-content="Username"></span><!-- Username-->
            <span class="text-muted" data-content="CommentDate"></span><!-- Date-->
        </p>
        <p>
            <span data-content="CommentText"></span> <!-- Comment text-->
        </p>
    </li>

</script>